<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xevo.xevo1">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- for Facebook login -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/xevo_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/xevo_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="Xevo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:label=""
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuickHit"
            android:label=""
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfessionalOpinion"
            android:label=""
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TalkAboutIt"
            android:label=""
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReadQuestion"
            android:label=""
            android:parentActivityName=".QuestionListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnswerQuestionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuestionListActivity"
            android:label=""
            android:launchMode="singleTop"
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConsultantRegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ApplicationViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FirebaseDeviceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/xevo_logo" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- TODO Can set custom notification channel -->
        <activity
            android:name=".AnswerReady"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.xevo.AnsweReady_TARGET" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayCase"
            android:label=""
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".QuestionSubmitted" />
        <activity
            android:name=".RegisterConsultant"
            android:label=""
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Util.PaymentPage" />
        <activity android:name=".Payment.PaymentPage" />
        <activity android:name=".Util.RatingScreen" />
        <activity android:name=".Rejection.CaseRating"></activity>
    </application>

</manifest>